#score-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

app-score-diva-view {
    grid-column: 1 / 2;
}

app-score-verovio-view {
    overflow-x: scroll;
    display: block;
    width: 100%;
}

#right {
    grid-column: 2 / 4;
    padding: 1em;
    width: 100%;
}
