<h1 mat-dialog-title>Save/Load My Work</h1>
<div mat-dialog-content>
    <p>
        This browser can locally store and reload data from different workspaces.
        This data will persist until overwritten or the browser's stored data is cleared.
    </p>
    <mat-form-field>
        <mat-label>Select Workspace</mat-label>
        <mat-select [(value)]="selected">
            <mat-option *ngFor="let slot of slots" [value]="slot">
                Workspace {{slot}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="onCancelClick()">Cancel</button>
    <button mat-button (click)="onSaveClick()">Save</button>
    <button mat-button (click)="onLoadClick()">Load</button>
</div>
