<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <a class="navbar-brand" routerLink="/">
       <img src="assets/img/thumbnail.png" id="thumbnail">
       <div id="navTitle">Measuring Polyphony</div>
       <div id="navDescription">Digital encodings of late medieval music</div>
       <div class="clearfix"></div>
    </a>
    <div id="transcriptionDiv">
        <a href="./">
            <button color=primary class="primary-button" id="new-transcription-button" mat-stroked-button>
                Start a New Transcription
            </button>
        </a>
    </div>
</nav>

<router-outlet></router-outlet>
