@import url("https://unpkg.com/browse/startbootstrap-grayscale@4.0.0/css/grayscale.min.css");

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: white; }

html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
 }
  table, th, td {
  font-family: 'Roboto', sans-serif;
     border: 1px solid white;
  }

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 1.3;
	margin: 0 0 25px;
}

@media (min-width: 768px)
{
	p
	{
		font-size: 14px;
		line-height: 1.4;
		margin: 0 0 35px;
	}
}

#mainNav
{
	font-family: 'Merriweather', serif;
	margin-bottom: 20px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background-color:	#9D2322;
	color: white;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

#mainNav #navDescription
{
	font-family: Merriweather, serif;
	font-size: 12px;
	font-weight: normal;
}

#mainNav #navTitle
{
	font-family: Merriweather, serif;
	margin-top: 4px;
}

#mainNav .navbar-toggler
{
	font-size: 14px;
	color: white;
	border: 1px solid white;
	padding: 8px;
	margin-right: 10px;
}

#mainNav .navbar-brand
{
	font-weight: bold;
	font-size: 22px;
	margin-left: 10px;
	color: white !important;
	display: block;
}

#mainNav a
{
	#loadOverlay
	{
		display: none
	}

    color: white;
}

#mainNav .navbar-nav .nav-item
{
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover
{
	color: fade(white, 80%);
	outline: none;
	background-color: #9D2322;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus
{
	outline: none;
	background-color: transparent;
}

.nav-item a:link, .nav-item a:visited, .nav-item a:hover, .nav-item a:active
{
	color: white !important;
}

#mainNav .nav-link
{
	font-family: Merriweather, serif;
	font-size: 12px;
	margin-top: 28px;
}

#transcriptionDiv {
    width: 100%;
}

#new-transcription-button {
    float: right;
    background-color: white;
}

@media (min-width: 992px)
{
	#mainNav
	{
		-webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		-moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		letter-spacing: 1px;
		border-bottom: none;
	}

	#mainNav.navbar-shrink
	{
		padding-top: 6px;
		padding-bottom: 6px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		background: black;
	}

	#mainNav .nav-link.active
	{
		outline: none;
		background-color: rgba(255, 255, 255, 0.3);
	}

	#mainNav .nav-link.active:hover
	{
		color: white;
	}

	#mainNav, #browse
	{
		font-size: 20px;
		padding-right: 50px;
		color:white !important;
	}

	#mainNav, #about
	{
		font-size: 20px;
		color:white !important;
	}
}

#thumbnail
{
	margin-right: 15px;
	float: left;
	vertical-align: center;
}

@media (min-width: 768px)
{
	#mainNav .navbar-brand
	{
		margin-left: 20px;
	}

	#mainNav .navbar-toggler
	{
		margin-right: 20px;
	}
}
