<div class="toolbar-container">
    <button mat-stroked-button (click)="goToInputEditor()">
        Return to Music Input
    </button>
    <button mat-stroked-button>
        <a download type="application/xml" (click)="saveClick($event)">
            Download MEI Score
        </a>
    </button>
    <button mat-stroked-button>
        <a download type="application/xml" (click)="savePartsClick($event)">
            Download MEI Parts
        </a>
    </button>
    <button mat-stroked-button (click)="copyToClipboard()">
        Copy MEI Score to Clipboard
    </button>
</div>
