#editor-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

app-diva-view {
    grid-column: 1 / 7;
}

#metadata-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

#right-side {
    overflow-y: scroll;
    grid-column: 7 / 11;
    margin: 1em;
    margin-right: 0em;
}

.metadataInput {
    width: 30em;
}

.metadataInput input {
    float: right;
}

.metadataInput select {
    float: right;
    width: 17em;
}

.contributor {
    width: 30em;
}

.contributor input {
    float: right;
}

/*app-toolbar {
    grid-column: 3 / 5;
}

app-staff-select {
    grid-column: 3 / 5;
}*/
