<div id="editor-container">
    <app-diva-view [iiifManifest]="iiifManifest"></app-diva-view>
    <div id="right-side">
        <mat-tab-group>
            <mat-tab label="Metadata Input" *ngIf="inputStep === 0">
                <form *ngIf="inputStep===0" #metadataForm="ngForm" (submit)="onSetMetadata()">
                    <h1 id="metadata-header">Enter Metadata</h1>
                    <label class="metadataInput">Short title:&nbsp;
                        <input [(ngModel)]="shortTitle" id="shortTitle" name="shortTitle"/>
                    </label><br>
                    <label class="metadataInput">Composer name:&nbsp;
                        <input [(ngModel)]="composerName" id="composerName" name="composerName"/>
                    </label><br>
                    <label class="metadataInput">Your name:&nbsp;
                        <input [(ngModel)]="userName" id="userName" name="userName"/>
                    </label><br>
                    <label class="metadataInput">Notation subtype:&nbsp;
                        <select [(ngModel)]="notationSubtype" id="notationSubtype" name="notationSubtype">
                            <option value="Ars antiqua">Ars antiqua</option>
                            <option value="Ars nova">Ars nova</option>
                        </select>
                    </label><br>
                    <button color=primary class="primary-button" mat-stroked-button type="submit">Continue to Music Input</button>
                </form>
            </mat-tab>
            <mat-tab label="Music Input" *ngIf="inputStep === 1">
                <mat-divider></mat-divider>
                <app-toolbar *ngIf="inputStep===1"></app-toolbar>
                <mat-divider></mat-divider>
                <app-staff-select *ngIf="inputStep===1"></app-staff-select>
            </mat-tab>
            <mat-tab label="General Help">
                <h2>Manuscript Navigation</h2>
                <ul>
                    <li>
                        To select the page of the manuscript you want to work on,
                        either use the scrollbar to the right of the manuscript
                        or type the folio number in the box and click the <code>Go</code>
                        button.
                    </li>
                    <li>
                        Click the magnifying boxes for the appropriate zoom level
                        and move around the manuscript using your mouse or the
                        trackpad.
                    </li>
                </ul>
                <mat-divider></mat-divider>
                <h2>Metadata Entry</h2>
                <p>
                    First enter basic metadata about the document.
                    This includes the name of the work, composer name,
                    and your name. If there is something you don't know,
                    you can leave it as is and continue.
                    <br>
                    Metadata must be entered before staff input can fully begin.
                </p>
                <mat-divider></mat-divider>
                <h2>Staff Entry</h2>
                <ul>
                    <li>
                        To select an area for a new staff, hold <code>Shift</code>
                        and click-and-drag an area for the staff on the Diva.js
                        viewer. When you release the mouse, a staff is added.
                    </li>
                    <li>
                        To select a staff, click on the bounding box on the viewer.
                    </li>
                    <li>
                        When a staff is selected, the voice it belongs to and
                        mensuration of that voice can be set on the right.
                        This information is saved automatically.
                    </li>
                    <li>
                        To add musical components, begin typing. This will add
                        musical elements to the staff below the voice and mensuration
                        options. Information on this is available under the "Music
                        Input Help" Tab.
                    </li>
                    <li>
                        To delete a staff, first select it and then click the
                        "Delete Staff" button under the "Staff Input" tab.
                    </li>
                </ul>
                <mat-divider></mat-divider>
                <h2>Saving Work for Later</h2>
                <p>
                    Work can be saved for later using the <em>Save/Load My Work</em>
                    button. Current information in the input editor can be saved to
                    one of the available workspaces. That workspace can be loaded later
                    if the same browser is used and the browser storage hasn't been cleared.
                </p>
            </mat-tab>
            <mat-tab label="Music Input Help">
                <h2>Music Input Instructions</h2>
                <ul>
                    <li> <b> Adding clef</b>
                    	<ul>
                    	<li> Type <span class="hi">C</span> to insert C3 clef,
                            or <span class="hi">F</span> to insert F4 clef.</li>
                        <li> Press the up or down arrows to move the clef to another line.</li>
                    	</ul>
                    </li>

                    <li> <b> Adding key signatures</b>
                        <ul>
                        <li> Type <span class="hi">k</span> to enter key signature mode after adding a clef.</li>
                        <li> Then enter the pitch name letter and accidental to add to key signature.</li>
                        <li> To remove from a key signature, enter the same pitch letter and accidental again.</li>
                        <li> Example: For F-sharp, type <span class="hi">k f #</span></li>
                        </ul>
                    </li>

                    <li> <b> Adding pitches</b>
                    	<ul>
                    	<li> Type pitch <span class="hi">letter</span> name of each note to add them to the line: <span class="hi">f.ed.efgagfgedderfag</span></li>
                    	<li> Type "<span class="hi">.</span>" to add dot after note.</li>
                    	<li> Type "<span class="hi">r</span>" to add a rest.</li>
                    	<li> Type <span class="hi2">backspace</span> to delete note.</li>
                    	<li> Capital letters choose direction of pitch class which is greater then lower case letters.</li>
                    	<li> <span class="hi2">Up/down</span> arrows transpose last pitch up/down a step.</li>
                    	<li> <span class="hi2">shift-Up/down</span> arrows transpose last pitch up/down an octave.</li>
                    	</ul>
                    </li>

                    <li><b> Adding ligatures</b>
                        <ul>
                            <li> After adding a note, press <span class="hi2">[</span> to start a ligature.</li>
                            <li> After adding a note, press <span class="hi2">]</span> to end a ligature.</li>
                        </ul>
                    </li>

                    <li> <b> Adding rhythm</b>
                    	<ul>
                    		<li> <span class="hi">1</span> semibreve,
                    		     <span class="hi">2</span> minim,
                    		     <span class="hi">4</span> semiminim,
                    		     <span class="hi">8</span> fusa,
                    		     <span class="hi">6</span> semifusa,
                    		     <span class="hi">0</span> breve,
                    		     <span class="hi">9</span> long,
                    		     <span class="hi">7</span> maxima. </li>
                    		<li> <i>Interleaved method</i>: type (new) rhythm before adding a note.  The default rhythm is whole note (semibreve).  First note's rhythm should be typed before adding clef.</li>
                    		<li> <i>Second-pass method</i>: type pitches first, then select first note and type rhythms to update note rhythms.</li>
                    		<li> <i>Selective second-pass method</i>: type most common rhythm, then clef, then notes, then click on notes that need rhythms to fix.  Typing rhythm number will change rhythm and advance to next note.</li>
                    		<li> left/right arrow keys or tab/shift-tab moves to next/previous note/rest/clef.</li>
                    	</ul>
                    </li>

                    <li> <b> Adding text</b>
                    	<ul>
                    		<li>Click on a note (or left/right arrows or tab/shift-tab to move to target note).</li>
                    		<li>Type text for note, then press tab or right arrow key or click to go to next note.</li>
                            <li> <span class="hi2">backspace</span> delete last letter.</li>
                            <li> <span class="hi2">shift-backspace</span> deletes entire syllable.</li>
                            <li> Add dash at end of text for note to continue word to next note.</li>
                            <li> To correct mistyped text, click the note to highlight it and press backspace. Then type the new text that belongs to that note.</li>
                    	</ul>
                    </li>

                    <li> <b> Repeating tenor</b>
                        <ul>
                            <li>When a staff that belongs to the tenor part is selected, the number of statements can be indicated.</li>
                            <li>If more than one tenor statement is indicated, a repeating tenor will be generated.</li>
                            <li>Where the tenor repeats from can be set after entering that element by pressing the "Set End of Repeating Tenor" button.
                                The ending will be highlighted in blue.
                            </li>
                            <li>If no end point is specified, the entire tenor will repeat by default.</li>
                        </ul>
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
