#editor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

app-diva-view {
    grid-column: 1 / 3;
}

#metadata-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

#right-side {
    grid-column: 3 / 4;
    margin: 1em;
}

.metadataInput {
    width: 25em;
}

.metadataInput input {
    float: right;
}

.metadataInput select {
    float: right;
    width: 13em;
}

/*app-toolbar {
    grid-column: 3 / 5;
}

app-staff-select {
    grid-column: 3 / 5;
}*/
