<div id="document-select">
    <div>
        <h1>Select Manuscript to Load</h1>
        <form [formGroup]="selectionForm" (submit)="submit()">
            <div>
                <label class="label">Manuscript Source:&nbsp;
                    <select formControlName="source">
                        <option value="gallica" selected>Gallica</option>
                        <option value="ecodices">eCodices</option>
                        <option value="diamm" disabled>DIAMM</option>
                    </select>
                </label>
            </div>
            <div>
                <label class="label">Document URL:&nbsp;
                    <input type="url" formControlName="resourceURL">
                </label>
                <small *ngIf="invalid">URL is unexpected for this source!</small>
            </div>
            <button type="submit" [disabled]="!selectionForm.valid" mat-stroked-button>Submit</button>
        </form>
        <br/><br/>
        <a [routerLink]="['/input', 'gallica', encodedIdSample]">
            <button mat-stroked-button>Use Sample Document</button>
        </a>
    </div>
</div>
