#document-select {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#document-select > div {
    grid-column: 2;
    display: grid;
    padding-bottom: 5em;
}

#document-select div * {
    justify-self: center;
}

form {
    display: grid;
}

form * {
    justify-self: center;
}

a {
    margin-top: 2em;
}
