<div id="document-select">
    <div id="load-manuscript">
        <h1>Load a manuscript</h1>
        <form [formGroup]="selectionForm" (submit)="submit()">
            <div style="display:block;">
                <label class="label">Manuscript Repository:&nbsp;
                    <select formControlName="source">
                        <option value="gallica" selected>Gallica</option>
                        <option value="ecodices">eCodices</option>
                        <option value="diamm">DIAMM</option>
                        <option value="iiif">Generic IIIF</option>
                    </select>
                </label>
                &nbsp;
                <label class="label">URL:&nbsp;
                    <input type="url" formControlName="resourceURL">
                </label>
                <small *ngIf="invalid">URL is unexpected for this source!</small>
            </div>
            <div>
                <button type="submit" [disabled]="!selectionForm.valid" mat-stroked-button>Submit</button>
            </div>
        </form>
        <br/>
        <p>
          For example, to transcribe a piece from the famous <em>Roman de Fauvel</em> manuscript,
          choose <em>Gallica</em> in the dropdown and paste this URL:
          <br/>
          <code>https://gallica.bnf.fr/ark:/12148/btv1b8454675g</code>
        </p>
    </div>
    <div id="load-mei">
        <h1>Load an .mei file</h1>
        <form [formGroup]="loadMEIForm" (submit)="meiSubmit()">
            <div style="display:block;">
                <label class="label">Compatible Parts-MEI File:&nbsp;
                    <input type="file" (change)="onFileChange($event)" formControlName="fileInput" accept="application/mei+xml, application/xml, .mei, .xml">
                </label>
            </div>
            <div>
                <button type="submit" [disabled]="!loadMEIForm.valid" mat-stroked-button>Load File</button>
            </div>
        </form>
    </div>
</div>
<div id="prototype-message">
  <p>
    The Measuring Polyphony Music Editor (the MP Editor), funded by the
    <a href="https://www.neh.gov" target="_blank">National Endowment for the Humanities</a>,
    is a prototype web application that allows users with no expertise in music encoding to transcribe and digitally
    encode transcriptions of polyphony in mensural notation, and create links between these
    music transcriptions to zones of the digital images of the original medieval manuscripts. To download a
    White Paper on the MP Editor, click <a href="https://drive.google.com/file/d/1GfVzleT_NtvJMOXMv5OYib4a6W1LAUlQ/view?usp=sharing">here</a>. For more
    information about the Measuring Polyphony project,
    click <a href="https://measuringpolyphony.org" target="_blank">here</a>.
	</p>
<h2>Project Team</h2>
    <ul>
      <li>Karen Desmond, Brandeis University, Massachusetts, USA: Principal Investigator & Project Director</li>
      <li>Juliette Regimbal, McGill University, Canada: Prototype developer</li>
      <li>Martha Thomae, McGill University, Canada: Prototype developer</li>
      <li>Andrew Hankinson, RISM, Switzerland: Consultant on diva.js, MEI</li>
      <li>Laurent Pugin, University of Bern & RISM, Switzerland: Consultant on Verovio, MEI</li>
      <li>Craig Sapp, Stanford University, California, USA: Consultant on Humdrum, MEI</li>
    </ul>
<h2>Student Research Assistants</h2>
    <ul>
      <li>Caelan Gadweh-Meaden, Brandeis University, USA</li>
      <li>Zen Kuriyama, Brandeis University, USA</li>
      <li>Daniel Shapiro, Brandeis University, USA</li>
    </ul>
       <p>With thanks also to Julie Cumming and her music palaeography students at McGill University - Christina Colanduoni, Mayu Egan, Geneviève Gates-Panneton, Namgon Lee, and Celia Morin - for testing the MP Editor in December 2020.</p>
  <h2>Advisory Board</h2>
      <ul>
        <li>Julie Cumming, McGill University, Canada</li>
        <li>Julia Craig McFeely, University of Oxford, UK</li>
        <li>Giuliano DiBacco, Indiana University, USA</li>
        <li>Ichiro Fujinaga, McGill University, Canada</li>
        <li>Richard Freedman, Haverford College, USA</li>
        <li>David Lewis, Goldsmiths University of London, UK</li>
        <li>Anna Zayaruznaya, Yale University, USA</li>
      </ul>
      <p></p>
      <p></p>

<h2>Help and Training Materials</h2>

  <p>The <a href="https://www.youtube.com/channel/UCWB5WRs4LjKpYB_-J2Sb03Q/videos" target="_blank">Measuring Polyphony YouTube channel</a> has in-depth informational videos on using the MP Editor as well as short videos explaining individual functions of the editor. The Measuring Polyphony YouTube channel is organized into playlists that contain comprehensive training videos on how to use the MP editor:</p>
    <ul>
      <li>(1) <a href="https://www.youtube.com/playlist?list=PLLVDNsvw7fOdM3O7nsTR4rVXKLhmQLxkn" target="_blank">Video summaries</a> (1-3 mins) of how to use the MP Editor</li>
      <li>(2) <a href="https://www.youtube.com/playlist?list=PLLVDNsvw7fOdFLZz6c7dOvmD3YSUHdRWm" target="_blank">Short videos</a> (10-20 seconds) on specific features</li>
      <li>(3) <a href="https://www.youtube.com/playlist?list=PLLVDNsvw7fOd-zYNODauvioZ_45ocwk1Y" target="_blank">A video series</a> that takes you step-by-step through a transcription of the song <i>Dous viaire gracieus</i> by the fourteenth-century composer Guillaume de Machaut, and which can be used along with this PDF training document (<a href="https://drive.google.com/file/d/1y86g5-ESfeeyFyCXsyfpI_oTgF8rF_9_/view?usp=sharing" target="_blank">download PDF</a>)</li>
    </ul>
  <p>There are also detailed help pages within the MP Editor that also link to short videos with examples. These help pages are located within the tabs at the top of the Music Input and Score Editor interfaces:</p>
    <ul>
      <li>General Help (Navigation, Metadata, Staves, Saving)</li>
      <li>Music Input Help (Information on inputting notation, e.g., clefs, rhythm, pitches, Etc.)</li>
      <li>Score Editor Help (Small edits of pitch and rhythm, Score display preferences, Editorial Mode, Downloading your work)</li>
    </ul>
  <p>To report bugs, please use this <a href="https://bit.ly/3cBnyrk" target="_blank">form (https://bit.ly/3cBnyrk)</a>. Thank you.
  <!--
  <br/>
  <div id="funder-logos">
    <a href="https://www.neh.gov">
      <img src="assets/img/NEH-Preferred-Seal820.jpg" alt="National Endowment for the Humanities Logo" class="funder-logo">
    </a>
    <a href="https://www.brandeis.edu">
      <img src="assets/img/brandeis-logo-stacked-seal-blue-digital.png" alt="Brandeis University Logo" class="funder-logo">
    </a>
  </div>
  -->
</div>
