// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat.define-typography-config($font-family: '"Merriweather", serif;');
@include mat.core($custom-typography);
//@include mat-core();

// Custom palette for Measuring Polyphony
$mp-font: (
  50: #ffd8af,
  100: #ffb494,
  200: #eb8e71,
  300: #c7694a,
  400: #ad4d2f,
  500: #923013,
  600: #86260f,
  700: #761806,
  800: #670200,
  900: #560000,
  A100: #f5c396,
  A200: #d5a071,
  A400: #9a642d,
  A700: #673500,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: #dbd4c1,
    900: rgba(white, 0.87),
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$editor-primary: mat.define-palette(mat.$red-palette, 900);
$editor-accent: mat.define-palette(mat.$cyan-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$editor-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$editor-theme: mat.define-light-theme($editor-primary, $editor-accent, $editor-warn);

$mp-font-primary: mat.define-palette($mp-font, 800);
$mp-font-theme: mat.define-light-theme($mp-font-primary, $mp-font-primary, $mp-font-primary);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($editor-theme);
@include mat.button-theme($mp-font-theme);
