<div class="toolbar-container">
    <button mat-stroked-button>
        <a download type="application/xml" (click)="saveClick($event)">
            Download MEI File
        </a>
    </button>
    <!--<button mat-stroked-button (click)="finishStep()">
        Move to Score Editor
    </button>-->
    <button mat-stroked-button *ngIf="staffService.selected" (click)="deleteStaff()">
        Delete Staff
    </button>
    <button mat-stroked-button (click)="openDialog()">
        Save/Load My Work
    </button>

</div>
